.form-block{
    background-color: rgba(179, 66, 231, 0.63);
    width: 80%;
    margin: auto;
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}

.form{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 1024px) {
    .form{
        flex-direction: column;
    }
    .form-group{
        padding-bottom: 30px;
    }
}

.form-group{
    align-items:center;
    text-align: center;
}
.form-group button{
    font-weight: 700;
}

.btn-default{
    background-color: rgba(255 255 0 / 50%) !important;
}